# Python / Django
__pycache__/
*.py[cod]
*$py.class
env/
venv/
env/
venv/
.env
!.env.example
db.sqlite3
db.sqlite3

# AI Models & Weights (Large files)
*.pt
*.h5
*.tflite
*.weights

# Verification Data & Uploads
verified_biomass/
uploads/
temp_*.jpg

# Editor / IDE
.vscode/
.idea/
.DS_Store

# Logs
*.log
npm-debug.log*

# Node
node_modules/

# Google Earth Engine Secrets
carbonverse-d73f871957f0.json
*.json  # Optional: safety net to ignore ALL json files in root (be careful)

# Blockchain Artifacts
artifacts/
cache/