Django==5.2.9
djangorestframework
django-cors-headers
tensorflow
tf-keras
Pillow
ImageHash
numpy
ultralytics
opencv-python
web3
sentinelhub
python-dotenv
earthengine-api
google-auth

transformers
torch
timm
